<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button (click)="openModal()">Open modal</ion-button>
  </div>
  <div>
    <ion-button (click)="openToast()">Open toast</ion-button>
  </div>
  <div>
    Back button with priority "2" called: {{ nbBackBtnCalled }} ties
  </div>
</ion-content>
